// @import 'https://fonts.googleapis.com/css?family=Roboto';

// @font-face {
//   font-family: 'bebas_neue_regularregular';
//   src:  url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BebasNeueRegular.otf')  format('opentype'),
//         url('../fonts/BebasNeueRegular.woff') format('woff'),
//         url('../fonts/BebasNeueRegular.ttf')  format('truetype'),
//         url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


// font-family: Roboto;

// @mixin roboto {
//     font-family: 'Roboto', sans-serif;
// }
