$media-movil : "only screen and (max-width : 767px)";
$media-md : "only screen and (min-width : 768px) and (max-width: 991px)";

// $media-md : "(min-width : 320px)";
// $media-md : "(min-width : 480px) and (max-width: 767px)";
// $media-md : "(min-width : 768px) and (max-width: 991px)";
// $media-md : "(min-width : 992px) and (max-width: 1199px)";
// $media-md : "(min-width : 1200px)";



// @media #{$media-movil}{
// 	background-color: red!important;
// }
