label.btn{
    input{
        display: none!important;
    }
}

.btn{
    @include transition(0.3);
    &__blanco{
        padding-top: 12px;
        font-size: 1.1rem;
        border: 1px solid $blanco;
        color: $blanco;
        &:hover{
            background-color: $blanco;
        }
    }
}
